
@{
    ViewBag.Title = "Редактирование";
}
<script src="../../Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector:'input[type="text"]' });</script>

<form method="post">
   @Html.EditorForModel()
    <input class="btn" type="submit" value="Save changes"/>
</form>

