@using NPORT.Database.JSONDatabase;
@{
    ViewBag.Title = "Home Page";
    var newsList = NewsJson.GetList();
}

<h1>News</h1>
@foreach (var news in newsList)
{
    var Author = NPORT.Database.XMLDatabase.Users.Find( news.AuthorId );
    <div class="news">
        <h2 class="title">@news.Title</h2>
        <p class="content">@news.Content</p>
        <a class="btn" href="#">Detailed...</a><br/>
        <span class="author">&copy; @Author.Nickname</span>
        <span class="date">@news.Date</span>
    </div>
}