@section Title { User list }

<h2>UserList</h2>
<div class="user-list">
<table>
    <tr>
        <th>Nickname</th>
        <th>Role</th>
        <th></th>
    </tr>
@foreach( var user in Model )
{
    <tr>
        <td>@user.UserName</td>
        <td>@user.GetRoleName()</td>
        <td>@Html.RouteLink("Details", "User details", new { id = user.Id }, new { @class = "btn" } )</td>
    </tr>
}
</table>
</div>
